# Eclipse files
/.settings
/.classpath
/.project
/eclipse/
/target-eclipse

# IntelliJ files
*.iws
*.iml
.idea
/out
*.ipr

# Gradle files
.gradletasknamecache
.gradle/

# Mac OS files
.DS_Store

# Build files
/build
pickleball-app/.env
pickleball-app/node_modules/
pickleball-app/.next/
pickleball-app/prisma/dev.db
pickleball-app/prisma/dev.db-journal
